# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# super secrets
SuperSecretSettings.h

# vscode
.vscode/*
esp8266/build/*

*/sunscreen/data/*

secrets.json

__pycache__
*.pyc


most_recent.json
onecal*.json
log.json